{% extends 'base.html.twig' %}

{% block title %}Editeur index
{% endblock %}

{% block body %}
	<h1>Editeur index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Pays</th>
				<th>SiteWeb</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for editeur in editeurs %}
				<tr>
					<td>{{ editeur.id }}</td>
					<td>{{ editeur.nom }}</td>
					<td>{{ editeur.pays }}</td>
					<td>
						{% if editeur.siteWeb %}
							<a href="{{ editeur.siteWeb }}" target="_blank">{{ editeur.siteWeb }}</a>
						{% endif %}
					</td>
					<td>{{ editeur.description|slice(0, 150) }}...</td>
					<td>
						<a href="{{ path('app_editeur_show', {'id': editeur.id}) }}">Consulter</a>
						<a href="{{ path('app_editeur_edit', {'id': editeur.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_editeur_new') }}">Ajouter un éditeur</a>
{% endblock %}
